{% extends 'main.html' %}

{% block content %}

<br>
<br>
<h2 style = "text-align:center;">Here are Your Most Recently Played Songs</h2>

{% for track in recently_played %}
<div class='row justify-content-center'>
	<a href={{track.track.external_urls.spotify}}>
		<div class='col'>
			<span>{{track.track.name}}</span>
		</div>
	</a>
</div>
<br>
{% endfor %}
<br>
<a class="btn btn-danger btn-lg mx-auto d-block" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
	DANGEROUS BUTTON (DO NOT PRESS!)
</a>
<br>
<form method="POST" action="/prepare_recommendations">
<center>
<input type="submit" class="btn btn-lg btn-success" value="Get Recommendations Based On These Songs">
</input>
</center>
</form>

{% endblock %}
