{% extends 'main.html' %}

{% block content %}

<br>
<br>
<h2 style="text-align:center;">Songs That are Similar to What You Listen To</h2>

{% for i in result[0] %}
<div class='row justify-content-center'>
	<a href={{i.artists[0].uri}}>
		<div class='col'>
			<b>{{i.artists[0].name}}</b>
		</div>
	</a>
	<a href={{i.uri}}>
		<div class='col'>
			<span>{{i.name}}</span>
		</div>
	</a>
</div>
{% endfor %}
<br>
<p style="text-align:center;"> Give these recommendations a score: </p>
<form method="POST" action="/submit">
	<center>
	<select class="form-select" aria-label="Default select example" name="score">
		<option selected>Select a score</option>
		<option value=1>1</option>
		<option value=2>2</option>
		<option value=3>3</option>
		<option value=4>4</option>
		<option value=5>5</option>
		<option value=6>6</option>
		<option value=7>7</option>
		<option value=8>8</option>
		<option value=9>9</option>
		<option value=10>10</option>
	</select>
	<input type="submit" class="btn btn-success" value="Submit"></input>
	</center>
</form>
<br>
<h2 style="text-align:center;">Songs Completely Different From What You Listen To</h2>
{% for i in result[1] %}
<div class='row justify-content-center'>
	<a href={{i.artists[0].uri}}>
		<div class='col'>
			<b>{{i.artists[0].name}}</b>
		</div>
	</a>
	<a href={{i.uri}}>
		<div class='col'>
			<span>{{i.name}}</span>
		</div>
	</a>
</div>
{% endfor %}
<br>
<p style="text-align:center;"> Give these recommendations a score: </p>
<form method="POST" action="/submit_unfamiliar">
        <center>
        <select class="form-select" aria-label="Default select example" name="score">
                <option selected>Select a score</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
        </select>
        <input type="submit" class="btn btn-success" value="Submit"></input>
        </center>
</form>

{% endblock %}
